<div class="container pres-container">
    <div class="row pres-row">
        <p class="h2 mt-3 pres-title">Presupuesto</p>
        <div class="container">
            <div class="row px-3 mt-5">
                <div (click)="authService.GoogleAuth()" class="col-12 pres-google mb-4 pres-text-all">
                    <div class="row ">
                        <div class="col-4">
                            <i class="fa fa-google fa-3x mt-3 mb-3"></i>
                        </div>
                        <div class="col-8 d-flex d-flex justify-content-center align-items-center mt-3 pres-text">
                            <p>Sing in with Google</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>